#myContainer {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}

#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  background: red;
}

.container {
  z-index: 11;
  opacity: 0.9;
  position: relative;
  background: rgb(163, 70, 163);
  width: 75%;
  height: auto;
  left: 15%;
  margin: 25px;
  position: absolute;
  border-radius: 10px;
}

.paragraph {
  width: 57.5%;
  background-color: lightseagreen;
  float: right;
  margin-right: 4%;
  margin-top: 2.5%;
  border-radius: 10px;
  padding: 10px;
}

.pictures {
  width: 300px;
  height: 200px;
  float: left;
  z-index: 13;
}

.title {
  text-indent: 1cm;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.75cm;
  background: rgb(61, 61, 61);
  color: rgb(0, 140, 255);
}

#test1 {
  position: relative;
  bottom: 0cm;
  float: top;
}
#test2 {
  position: relative;
  bottom: -10cm;
  float: bottom;
}
#test3 {
  position: relative;
  bottom: -20cm;
  float: bottom;
}

#test4 {
  position: relative;
  bottom: -30cm;
  float: bottom;
}
.master {
  background: black;
}

.infocontainer {
  z-index: 11;
  opacity: 0.9;
  position: relative;
  background: rgb(241, 120, 120);
}
.text {
  margin-left: 27%;
  margin-right: 10%;
  margin-top: 1cm;
  position: relative;
  float: left;
  color: yellow;
  text-decoration: none;
  display: inline;
}
.text2 {
  position: relative;
  margin-top: 1cm;
  float: left;
  color: yellow;
  text-decoration: none;
  display: inline;
}
.list {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.pic {
  display: inline;
}

.testimage {
  display: inline;
  position: relative;
}
.bar {
  display: inline;
  position: relative;
  float: right;
  width: auto;
  height: 1cm;
}

a.linkedinlink {
  color: firebrick;
  font-size: 20px;
  font-size-adjust: 20px;
  text-transform: none;
}
a.emaillink {
  color: firebrick;
  font-size: 20px;
  font-size-adjust: 20px;
  text-transform: none;
}
.contactinfo {
  color: firebrick;
  position: relative;
  left: 30%;
  text-align: center;
}
.email {
  position: relative;
  display: inline;
  float: center;
  margin-right: 1cm;
  font-size: 10px;
  text-align: center;
}
.number {
  position: relative;
  display: inline;
  float: center;
  margin-right: 1cm;
  margin-left: 30%;
  color: firebrick;
  font-size: 20px;
  text-align: bottom;
}
.linkedin {
  position: relative;
  display: inline;
  float: center;
  font-size: 10px;
  text-align: center;
  margin-right: 1cm;
}
body {
  background: black;
  margin: 0;
  padding: 0;
  z-index: -5;
  /* more styles */
}

.particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5;
}
.masterinfo {
  position: relative;
  top: 20px;
  z-index: 10;
  width: 100%;
  height: 1cm;
}

.paragraphwork {
  width: 57.5%;
  background-color: lightseagreen;
  float: right;
  margin-right: 4%;
  margin-top: 2.5%;
  border-radius: 10px;
  padding: 10px;
}

.titlework {
  text-indent: 1cm;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.75cm;
  background: rgb(61, 61, 61);
  color: rgb(0, 140, 255);
}
.containerwork {
  z-index: 11;
  opacity: 0.9;
  position: relative;
  background: rgb(163, 70, 163);
  width: 75%;
  height: 360px;
  left: 15%;
  margin: 25px;
  position: absolute;
  border-radius: 10px;
}
.pictureswork {
  position: relative;
  top: 40px;
}
