a.linkedinlink {
  color: firebrick;
  font-size: 20px;
  font-size-adjust: 20px;
  text-transform: none;
}
a.emaillink {
  color: firebrick;
  font-size: 20px;
  font-size-adjust: 20px;
  text-transform: none;
}
.contactinfo {
  color: firebrick;
  position: relative;
  left: 40%;
  top: 1cm;
}
body {
  margin: 0;
  padding: 0;
  /* more styles */
}

.particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
