.Header {
  background: #000000;
  height: 95px;
  position: relative;
  justify-content: left;
}

.logo {
  width: 200px;
  height: auto;
  position: relative;
  align-items: left;
  justify-content: left;
  bottom: 0px;
  margin-left: 12%;
}

#logo {
  display: inline;
}

.nav-bar {
  display: inline;
  block-size: auto;
  position: relative;
  align-items: center;
  font-size: 17px;
  letter-spacing: 4px;
  text-align: center;
  z-index: 18;
}

.button1 {
  position: absolute;
  left: 5%;
  padding-top: 3%;
  height: 1cm;
  width: 1cm;
  margin: 0px;
}

.home {
  display: inline;
  margin: 30px;
  margin-left: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.contact {
  display: inline;
  margin: 30px;
}

.project {
  display: inline;
  margin: 30px;
}

.moreinfo {
  display: inline;
  margin: 30px;
}

a.nav {
  color: #bbbdbb;

  text-transform: uppercase;
}

.Header .nav-bar a.nav:hover {
  color: red;
  font-size: 22px;
  font-size-adjust: 20px;
}

a {
  text-decoration: none;
}

@media (max-width : 768px) {
  .nav-bar {
    display: none;
  }

  .button1 {
    position: absolute;
    left: 50%;
    padding-top: 10%;
    height: 1cm;
    width: 1cm;
    z-index: 18;
  }

  #logo {
    margin-left: -10%;
  }
}

@media (min-width: 769px) {
  .button1 {
    display: none;
  }
}