.wrapper {
  z-index: 0;
}

.MainParagraph {
  z-index: 5;
  color: red;
  position: absolute;
  top: 5cm;
}

.vid {
  z-index: -5;
  overflow-x: hidden;
}

.main {
}

.video_test {
  overflow-x: hidden;
}
