.wrapper {
  z-index: 0;
}

.MainParagraph {
  z-index: 5;
  color: red;
  position: absolute;
  top: 5cm;
}

.video {
  overflow-x: hidden;
}

.pictures {
  z-index: 13;
}

body {
  background: black;
}

.projects {
  position: relative;
  align-content: center;
  z-index: 0;
  width: 80%;
  height: 85cm;
  margin-left: 10%;
  background-color: none;
}


.proj1 {
  margin: 7px;
  background-color: grey;
  width: 48%;
  height: 8%;
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../images//Website_pictures/Picture16.png");
}

.proj2 {
  margin: 7.6px;
  background-color: grey;
  width: 48%;
  height: 8%;
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../images/img/Sunset.jpg");
  background-size: cover;
}

.proj3 {
  margin: 7px;
  background-color: grey;
  width: 48%;
  height: 8%;
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../images/img/Sunset.jpg");
  background-size: cover;
}

.proj4 {
  margin: 7.6px;
  background-color: grey;
  width: 48%;
  height: 8%;
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../images/img/Sunset.jpg");
  background-size: cover;
}

.proj5 {
  margin: 7.6px;
  background-color: grey;
  width: 48%;
  height: 8%;
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../images/img/Sunset.jpg");
  background-size: cover;
}

.proj6 {
  margin: 7.6px;
  background-color: grey;
  width: 48%;
  height: 8%;
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../images/img/Sunset.jpg");
  background-size: cover;
}

.proj7 {
  margin: 7.6px;
  background-color: grey;
  width: 48%;
  height: 8%;
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../images/img/Sunset.jpg");
  background-size: cover;
}

.proj8 {
  margin: 7.6px;
  background-color: grey;
  width: 48%;
  height: 8%;
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../images/img/Sunset.jpg");
  background-size: cover;
}

@media (max-width: 1200px) {
  .proj1 {
    width: 92%;
    height: 10cm;
    background-size: cover;
  }

  .proj2 {
    width: 92%;
    height: 10cm;
  }

  .proj3 {
    width: 92%;
    height: 10cm;
  }

  .proj4 {
    width: 92%;
    height: 10cm;
  }

  .proj5 {
    width: 92%;
    height: 10cm;
    background-size: cover;
  }

  .proj6 {
    width: 92%;
    height: 10cm;
  }

  .proj7 {
    width: 92%;
    height: 10cm;
  }

  .proj8 {
    width: 92%;
    height: 10cm;
  }
}

.proj1:hover {
  border-style: solid;
  border-color: crimson;
  margin: 0px;
}

.proj2:hover {
  border-style: solid;
  border-color: crimson;
}

.proj3:hover {
  border-style: solid;
  border-color: crimson;
  margin: 0px;
}

.proj4:hover {
  border-style: solid;
  border-color: crimson;

}

.proj5:hover {
  border-style: solid;
  border-color: crimson;
  margin: 0px;
}

.proj6:hover {
  border-style: solid;
  border-color: crimson;
}

.proj7:hover {
  border-style: solid;
  border-color: crimson;
  margin: 0px;
}

.proj8:hover {
  border-style: solid;
  border-color: crimson;
}